* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.clear {
    clear: both;
}

.web-name {
    color: blue;
    background-color: yellow;
    font-size: 30pt;
    width: 35%;
    height: 100px;
    margin: 10px;
    float: left;
    text-align: center;
    
}

.web-desc {
    color: black;
    background-color: pink;
    font-size: 30pt;
    width: 60%;
    height: 100px;
    margin: 10px;
    float: left;
    text-align: center;

}


.content .content-section {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 100px;
}

.content-frame {
    background-color: #c5dfe7;
    width: 30%;
    color: #07303c;
    font-size: 14pt;
    float: left;
    margin: 10px;
    height: 500px;
    border-top: #438296 10px solid;
    padding: 10px;
}

.diamond {
    margin: 18px 0;
    width: 277px;
    height: 248px;
    margin-left: 60px;
}

.title {
    margin-top: 30px;
}

.title-phu {
    margin-top: 30px;
    
}

